
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;outline:none;
  }
  
  h1,h2,h3,h4 {
    font-family: nunito;
  }
  
  body,p {
    font-family: nunito;
  }
  button{cursor:pointer;}
  .container2 {
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }
  .src_product2 .container2 {  max-width: 800px;}
  .logo_sec2 {
      float: left;
      max-width: 140px;
  }
  
  .top_hdr2 {
      float: left;
      width: 100%;
      margin: 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  
  .filesDiv2 {
    width: 100%;
    margin: 30px auto;
    max-width: 700px;
  }
  
  header.site_hdr2 {
      float: left;
      width: 100%;
      background: #4aa999;
  }
  
  .right_menu2 {
      float: right;
  }
  
  .right_menu2 ul {
      display: flex;
      list-style: none;
      align-items: center;position: relative;
  }
  form.srch_form2 {
      position: absolute;
      background: #fff;
      left: 0;
      width: 100%;
      padding: 14px;
      box-shadow: 0 2px 5px #e9e9e9;
      margin-top: 6px;
  }
  
  form.srch_form2 input[type="search"] {
      width: 100%;
      padding: 12px 10px;
      border: 1px solid #cecece;
      border-radius: 0;
      font-style: italic;
  }
  
  form.srch_form2 button {
      position: absolute;
      right: 9px;
      padding: 13px 13px;
      color: #fff;
      background: #4aa999;
      border: none;
      font-size: 17px;
  }
  
  .src_product2 {
      float: left;
      width: 100%;
      padding: 30px 0;
      background: #f7fcfb;height: 400px;
  }
  
  
  .right_menu2 ul li a {
      color: #f6fffe;
      text-decoration: none;
      font-family: nunito;
      font-weight: 300;
      letter-spacing: 0;
      font-size: 15px;
      padding: 0 14px;
  }
  
  .logo_sec2 img {
      max-width: 100%;
      height: auto;
  }
  
  .right_menu2 ul li ul.sub_menu2 {
      position: absolute;
      background: #fff;
      min-width: 176px;
      flex-direction: column;
      padding: 6px 17px;
      margin-top: 7px;
      box-shadow: 0 2px 5px #eee;
      //display: none;
      left: -75px;
      align-items: normal;
  }
  
  .right_menu2 ul li ul.sub_menu2 li a {
      color: #222;
      float: left;
      width: 100%;
      font-size: 14px;
      padding: 6px 0;
  }
  
  li.top_usr2:after {/* content: ">"; */color: #fff;}
  
  li.top_usr2 img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      padding: 2px;
      top: -9px;
  }
  
  li.top_usr2 {position: relative;padding-right: 40px;border-left: 1px solid #fff;}
  
  li.srch2 {
      margin-left: 12px;
  }
  
  .right_menu2 ul li ul.sub_menu2 li a:hover {
      color: #4aa999;
  }
  
  button.srch_btn2 {
      background: #52b8a7;
      width: 42px;
      height: 42px;
      border: none;
      color: #fff;
      border-radius: 50px;
      font-size: 16px;
  }
  
  .src_product2 h3 {
      text-align: center;
      font-size: 33px;
      font-weight: 300;
      color: 4aa999;
  }
  
  .pro_form2 {
      float: none;
      width: 100%;
      text-align: center;
      margin: 30px auto;
      display: flex;
      max-width: 100%;
      position: relative;
  }
  
  .pro_form2 input {
      width: 100%;
      padding: 10px 20px;
      height: 58px;
      border-radius: 50px;
      font-size: 14px;
      border: 1px solid #e8f6f3;
      font-weight: 300;
  }
  
  .pro_form2 input::placeholder {
      font-style: italic;
      font-weight: 300;
      color: #959595;
  }
  
  .pro_form2 button {
      right: 0;
      background: #f7b733;
      border: none;
      min-width: 157px;
      position: absolute;
      height: 58px;
      border-radius: 50px;
      font-size: 17px;
      color: #fff;
      font-weight: 400;
      font-family: nunito;
  }
  
  .price_sec2 {
      float: left;
      width: 100%;
      margin-top: 16px;
  }
  
  .img_sec2 {
      float: left;
      max-width: 298px;
      padding:0px;
      background: #fff;
      height: 340px;
      overflow: hidden;
      border: 1px solid #e8f6f3;
  }
  
  .img_sec2 img {
      max-width: 100%;
      height: auto;
  }
  
  
  
  .price_alrt2 {
      float: right;
      width: 54%;
  }
  
  .price_alrt2 ul {
      display: flex;
      float: left;
      width: 100%;
      list-style: none;
      margin: 18px 0;
      justify-content: space-between;
  }
  
  .alrt_sec2 {
      float: left;
      width: 100%;
      display: flex;
  }
  
  body {
      font-family: nunito;
  }
  
  .alrt_sec2 input {
      padding: 10px 13px;
      height: 50px;
      width: 100%;
      border: 1px solid #e8f6f3;
  }
  
  .alrt_sec2 button {
      background: #4aa999;
      color: #fff;
      border: none;
      min-width: 123px;
      font-size: 15px;
  }
  
  .price_alrt2 ul li {
      font-size: 16px;
      color: #4aa999;
  }
  
  .price_alrt2 ul li:last-child {
      color: orange;
  }
  
  button.prc_alrt2 {
      background: #21b1a1;
      border: navajowhite;
      padding: 5px 10px;
      height: 50px;
      min-width: 194px;
      color: #fff;
      font-size: 16px;
      font-weight: 100;
      float: none;
      margin: 25px auto;
      position: relative;
      transform: translateX(-50%);
      left: 50%;
  }
  
  .sahdow2 {
      float: left;
      width: 100%;
      margin: 250px 0 50px 0;
  }
  
  .sahdow2 img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
  }
  
  .alert_item2 {
      float: left;
      width: 100%;
      max-width: 330px;
      margin: 0 40px 0 0;
      border: 1px solid #eee;    overflow: hidden;position:relative;
  }
  
  span.prcnt2 {
      font-size: 32px;
      font-weight: 400;
      margin-left: 14px;
  }
  
  .alert_grid2 {
      float: left;
      width: 100%;
      margin: 30px 0 0;
  }
  
  
  .alert_item2 figure {
      float: left;
      width: 100%;
  }
  
  .alert_item2 figure img {
      max-width: 100%;
      height: auto;
  }
  
  .my_alert2 {
      float: left;
      width: 100%;
  }
  
  .item_dtl2 {
      float: left;
      width: 100%;
      font-family: nunito;
      padding: 10px;
  }
  .my_alert2 h3 {
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 30px;
  }
  
  .item_dtl2 ul.prc_estimate2 {
      list-style: none;
      margin: 12px 0;
      float: left;
      width: 100%;
  }
  
  span.mta_date2 {
      float: left;
      width: 100%;
      color: #616968;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 5px;
  }
  
  .item_dtl2 h4 {
      color: #333;
      font-size: 21px;
      font-weight: 500;
      float: left;
      width: 100%;
  }

  .item_dtl2 h5 {
    color: #21b1a1;
    font-weight: 400;
    font-size: 16px;
    float: left;
    width: 100%;
}

.item_dtl2 ul.prc_estimate2 li {
    color: #4d5453;
    font-size: 15px;
    font-weight: 400;
}

.item_dtl2 ul.prc_estimate2 li label {
    width: 117px;
    float: left;
}

.prc_grade2 {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
}

span.prcnt2 img {
  width: 23px;
}

.prc_grade2 button {
  background: #21b1a1;
  border: none;
  min-width: 120px;
  padding: 10px;
  color: #fff;
  font-size: 15px;
}

footer.dsbrd_ftr2 {
  float: left;
  width: 100%;
  background: #f9f9f9;
  margin: 100px 0 0 0;
  padding: 20px 0;
}

.cpy_rt2 {
  float: left;
  color: #b3b4b4;
  font-weight: 300;
}

.ftr_menu2 {
  float: right;
}

.ftr_menu2 ul {
  display: flex;
  list-style: none;
}

.ftr_menu2 ul li a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 15px;
  color: #b3b4b4;
  font-weight: 300;
}

ul.item_actns2 {
  position: absolute;
  list-style: none;
  left: -100px;
  transition: ease all .3s;
}

ul.item_actns2 li {
  padding: 6px 8px;
  background: #333;
  margin: 2px 0;
  color: #fff;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.item_actns2 li a {
  color: #fff;
}

ul.item_actns2 li:nth-child(2) {
  background: #f7b733;
}

ul.item_actns2 li:nth-child(3) {
  background: #da1d1d;
}

.alert_item2:hover ul.item_actns2 {
  left: 0;
  transition: ease all .3s;
}
img#blah {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  padding: 0;
  position: absolute;
  top: -10px;
}

.profile_sec2 {
  float: left;
  width: 100%;
  margin: 50px 0;
}

.profile_sec2 h3 {
  color: #4aa999;
  font-size: 30px;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.prfl_img2 {
  float: left;
  width: 100%;
  position: relative;
}

.profile_sec2 form {
  /* float: left; */
  width: 100%;
  margin: 30px auto;
  max-width: 700px;
}

.frm_grp2 {
  float: left;
  width: 100%;
  margin: 10px 0;
}

.frm_grp2 label {
  float: left;
  width: 100%;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}

.frm_grp2 input, .frm_grp2 select, .frm_grp2 number {
  width: 100%;
  padding: 12px;
  border: 1px solid #dfebe9;
  border-radius: 3px;font-size: 14px;
}
.frm_grp2 input:focus, .frm_grp2 select:focus, .frm_grp2 number:focus{border-color: #4aa999;}
.half_fld2 {
  float: left;
  width: 48%;
}

.half_fld2:nth-child(2) {
  float: right;
}


.frm_grp2.prfl_img2 input#imgInp {
  width: auto;
  margin-right: 26px;
  border: 1px dashed #4aa999;
  color: #4aa999;
}

.frm_grp2.sbmt_btn2 {
  text-align: center;
  margin: 20px 0 0 0;
}

.frm_grp2.sbmt_btn2 button {
  background: #4aa999;
  border: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  height: 47px;
  min-width: 201px;
}


.delt_item2 {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -200%;
  transition: ease all .3s;
}

.msg_box2 {
  text-align: center;
  border: 1px solid #dfebe9;
  max-width: 650px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  line-height: 42px;
  box-shadow: 0 1px 11px #e8f1f0;
}

.msg_box2 h4 {
  font-size: 36px;
  text-transform: capitalize;
  color: #4aa999;
  font-weight: 800;
  margin-bottom: 10px;
}


.msg_box2 p {
  font-size: 25px;
  font-weight: 300;
  color: #646464;
}

.two_btns2 button {
  min-width: 150px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 16px;
  height: 48px;
  text-transform: capitalize;
  margin: 0 4px;
  background: #f7b733;
  letter-spacing: 1px;
  opacity: .8;
}

.two_btns2 {
  margin: 18px 0 0 0;
}

.two_btns2 button:nth-child(1) {
  background: #da1d1d;
}

.two_btns2 button:hover {
  opacity: 1;
}

.delt_item2.open2 {
  bottom: 0;
  transition: ease all .5s;
}
.edit_item2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
 
  left: 0;    bottom: -200%;  transition: ease all .5s;
  display: flex;
  align-items: center;
}
.edit_item2.open2 {bottom: 0;   transition: ease all .5s;}
.edit_img2 {
  max-width: 300px;
  float: left;
  height: 339px;
  border: 1px solid #f8f8f8;
  overflow: hidden;
}

.edit_img2 img {
  max-width: 100%;
}

.pro_sec2 {
  float: right;
  width: 60%;
}

.pro_sec2 h3 {
  color: #4aa999;
  font-size: 27px;
  text-align: left;
  margin: 0;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 15px;
}
.edit_item2 .container2 {
  max-width: 900px;
  position: relative;
  box-shadow: 0 1px 11px #e8f1f0;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #dfebe9;
}
.clos_btn2 {
  position: absolute;
  background: #da1d1d;
  width: 36px;
  height: 36px;
  top: -13px;
  z-index: 11;
  right: -13px;
  border: none;
  color: #fff;
  border-radius: 50px;
  font-size: 19px;
}

@media(max-width:767px){
    .right_menu2 ul li a {
    font-size: 12px;
    padding: 0 5px;
    }

    li.top_usr2 img {
    width: 30px;
    height: 30px;
    }

    button.srch_btn2 {
    width: 30px;
    height: 30px;
    font-size: 14px;
    }

    .right_menu2 ul li a img {
    display: none !important;
    }

    li.top_usr2 img {
    display: none;
    }

    li.top_usr2 {
    padding: 0;
    }

    .container2 {
    padding: 0 10px;
    }

    .logo_sec2 {
    max-width: 70px;
    }

    .pro_form2 {
    flex-direction: column;
    margin: 20px 0;
    }

    .pro_form2 button {
    position: static;
    margin: 10px auto;
    width: 100%;
    height: 47px;
    max-width: 200px;
    cursor: pointer;
    }

    .src_product2 h3 {
    font-size: 24px;
    }

    .img_sec2 {
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
    float: none;
    }

    .price_alrt2 {
    width: 100%;
    margin: 20px 0 0 0;
    }

    .price_alrt2 ul {
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 10px 0;
    }

    .price_alrt2 ul li {
    margin-bottom: 7px;
    font-size: 14px;
    }

    button.prc_alrt2 {
    margin: 10px 0;
    }

    .alert_item2 {
    margin: 0 0 30px 0;
    }

    .cpy_rt2 {
    width: 100%;
    text-align: center;
    }

    .ftr_menu2 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .ftr_menu2 ul li a {
    font-size: 14px;
    }

    .my_alert2 h3 {
    font-size: 30px;
    margin: 0;
    }	
    .pro_sec2 {
    width: 100%;
    }

    .edit_img2 {
    height: 276px;
    }

    .edit_item2 .container2 {
    width: 100%;
    padding: 20px 16px;
    max-width: 400px;
    margin: 20px auto;
    }

    .edit_item2 {
    overflow-y: scroll;
    padding: 0 0 !important;
    align-items: flex-start;
    }

    .pro_sec2 h3 {
    font-size: 21px;
    line-height: 23px;
    margin: 13px 0;
    }

    .edit_img2 img {
    object-fit: contain !important;
    object-position: center !important;
    }
    .clos_btn2{right:5px;}	
    .msg_box2 {
    padding: 20px;
    }

    .msg_box2 h4 {
    font-size: 28px;
    line-height: 34px;
    }

    .msg_box2 p {
    line-height: 30px;
    }

    .two_btns2 button {
    margin: 5px 0;
    }
}
  